@font-face {
   font-family: 'SimHei (1)';
   font-display: swap;
   src: url('file:///C:/Users/PC/AppData/Local/Mobirise.com/Mobirise/projects/project-2023-05-29_122355/fonts/SimHei%20(1)/font.ttf');
}
